# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
Prototype 1 - Car/[Ll]ibrary/
Prototype 1 - Car/[Tt]emp/
Prototype 1 - Car/[Oo]bj/
Prototype 1 - Car/[Bb]uild/
Prototype 1 - Car/[Bb]uilds/
Prototype 1 - Car/[Ll]ogs/
Prototype 1 - Car/[Uu]ser[Ss]ettings/

Challenge 1 - Plane
Challenge 1 - Plane/[Ll]ibrary/
Challenge 1 - Plane/[Tt]emp/
Challenge 1 - Plane/[Oo]bj/
Challenge 1 - Plane/[Bb]uild/
Challenge 1 - Plane/[Bb]uilds/
Challenge 1 - Plane/[Ll]ogs/
Challenge 1 - Plane/[Uu]ser[Ss]ettings/

Prototype 2 - Animal Feeder/[Ll]ibrary/
Prototype 2 - Animal Feeder/[Tt]emp/
Prototype 2 - Animal Feeder/[Oo]bj/
Prototype 2 - Animal Feeder/[Bb]uild/
Prototype 2 - Animal Feeder/[Bb]uilds/
Prototype 2 - Animal Feeder/[Ll]ogs/
Prototype 2 - Animal Feeder/[Uu]ser[Ss]ettings/

Challenge 2 - Fetch/[Ll]ibrary/
Challenge 2 - Fetch/[Tt]emp/
Challenge 2 - Fetch/[Oo]bj/
Challenge 2 - Fetch/[Bb]uild/
Challenge 2 - Fetch/[Bb]uilds/
Challenge 2 - Fetch/[Ll]ogs/
Challenge 2 - Fetch/[Uu]ser[Ss]ettings/

Prototype 3 - Runny Jump Man/[Ll]ibrary/
Prototype 3 - Runny Jump Man/[Tt]emp/
Prototype 3 - Runny Jump Man/[Oo]bj/
Prototype 3 - Runny Jump Man/[Bb]uild/
Prototype 3 - Runny Jump Man/[Bb]uilds/
Prototype 3 - Runny Jump Man/[Ll]ogs/
Prototype 3 - Runny Jump Man/[Uu]ser[Ss]ettings/

Challenge 3 - Flappy Balloon/[Ll]ibrary/
Challenge 3 - Flappy Balloon/[Tt]emp/
Challenge 3 - Flappy Balloon/[Oo]bj/
Challenge 3 - Flappy Balloon/[Bb]uild/
Challenge 3 - Flappy Balloon/[Bb]uilds/
Challenge 3 - Flappy Balloon/[Ll]ogs/
Challenge 3 - Flappy Balloon/[Uu]ser[Ss]ettings/

Prototype 4 - Rolly Ball/[Ll]ibrary/
Prototype 4 - Rolly Ball/[Tt]emp/
Prototype 4 - Rolly Ball/[Oo]bj/
Prototype 4 - Rolly Ball/[Bb]uild/
Prototype 4 - Rolly Ball/[Bb]uilds/
Prototype 4 - Rolly Ball/[Ll]ogs/
Prototype 4 - Rolly Ball/[Uu]ser[Ss]ettings/

Challenge 4 - Futbol/[Ll]ibrary/
Challenge 4 - Futbol/[Tt]emp/
Challenge 4 - Futbol/[Oo]bj/
Challenge 4 - Futbol/[Bb]uild/
Challenge 4 - Futbol/[Bb]uilds/
Challenge 4 - Futbol/[Ll]ogs/
Challenge 4 - Futbol/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
Prototype 1 - Car/[Mm]emoryCaptures/

# Recordings can get excessive in size
Prototype 1 - Car/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
Prototype 1 - Car/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
Prototype 1 - Car/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
Prototype 1 - Car/[Aa]ssets/[Ss]treamingAssets/aa.meta
Prototype 1 - Car/[Aa]ssets/[Ss]treamingAssets/aa/*
